$backgroundColor: #fff;
$baseFontColor: #080222;
$baseFont: 'Lato',
sans-serif;
$titleFont: 'Anton',
sans-serif;
$blueColor: #3540FA;
$orangeColor: #FF7826;
$purpleColor: #797EDA;

section-content {
    height: auto;
    overflow: hidden;
    max-height: 100vh;
    section-content-right{
        width: 45vw;
        padding-left: 0;
        padding-right: 0;
        border-left: solid 1px $orangeColor;
    }
}

.header-title {
    a {
        h2 {
            color: $backgroundColor !important;
        }
    }
}

.about-content-pic {
    width: 45vw;
    padding-left: 0;
    padding-right: 0;
    float: right;
    z-index: 5;
}

.profile-pic {
    object-fit: contain;
    object-position: center;
}

.about-svg {
    position: absolute;
    z-index: 0;
    top: 0;

    .about-line-container {
        .about-line-path {
            transform: translateY(20vh);
        }
    }

    .about-circle {
        fill: $blueColor;
    }

    .about-rect-container {
        transform: translateX(40vw) translateY(50vh) rotate(-30deg);

        .about-rect {
            fill: #E5E1FC;
        }
    }

    .about-ribbon-container {
        transform: translateX(20vw) translateY(35vh) rotate(50deg);

        .about-ribbon {
            fill: $purpleColor;
        }
    }
}

.contact-container{
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .icon {
        font-size: 50px !important;
        padding-right: 2vw;
        text-align: center;
    }
    h3, h4{
        padding-left: 3vw;
        display: flex;
        align-items: center;
    }
    h3{
        font-size: 2em;
    }
    h4{
        font-size: 1em;
    }
    .contact{
        min-height: 20vh;
        width: 100%;
        text-decoration: none;
        color: white;
        display: flex;
        text-emphasis: left;
        justify-content: left;
        align-items: center;
        border-bottom: solid 1px $orangeColor;
        transition: .1s;
        &:hover{
            text-decoration: underline !important;
        }
    }

    .contact-non-hovered{
        min-height: 18vh;
    }

    .contact-hovered{
        min-height: 28vh;
    }
}
@media only screen and (max-width: 1201px) {
    section-content{
        max-height: max-content;
        svg{
            width: 100vw;
            height: 100vh;
            z-index: 0;
        }
    }
    section-content-left{
        z-index: 1;
    }
    section-content-right{
        width: 100vw !important;
    }
    
}