.phone-model{
    width: 300px;
    height: 600px;
}

.my-slider-progress-bar{
    background: greenyellow;
    height: 2px;
    transition: width 400ms ease;
    width: 0;
}
.splide__slide{
    min-height: 50vh;
    color: black;
    background-color: lightblue;
    img{
        width: 60vw;
    }
}