$backgroundColor: #fff;
$baseFontColor: #080222;
$baseFont: 'Lato',
sans-serif;
$titleFont: 'Anton',
sans-serif;
$blueColor: #3540FA;
$orangeColor: #FF7826;
$purpleColor: #797EDA;

.phone-model{
    height: 90vh;
    width: 40vw;
}

.my-slider-progress-bar{
    background: greenyellow;
    height: 2px;
    transition: width 400ms ease;
    width: 0;
}
.splide__slide{
    min-height: 50vh;
    color: black;
    background-color: lightblue;
    img{
        width: 60vw;
    }
}

#particles-js{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.home-menu-section{
    display: grid;
    grid-template-areas: 
    'project project'
    'about about'
    'skills contact'
    'skills contact';
    width: 45vw;
    padding: 0;
    a{
        color: white;
        text-decoration: none;
        font-size: 3.5em;
        overflow: hidden;
    }
    .button-project{
        grid-area: project;
        background: $blueColor;
        height: 30vh;
        h3{ 
            transition: .3s;
            padding-left: 5vw; margin-bottom: .25em; }
        .projects-svg{
            position: absolute;
            .projects-line-path{
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
                animation: dash 3s ease-in-out 1;
                animation-fill-mode: forwards;
            
            }

            .projects-circle{
                fill: $orangeColor;
                animation: wave 3s ease-in-out infinite;
            }
            .projects-rect-container {
                transform: translateX(570px) translateY(75px) rotate(-50deg);
                .projects-rect {
                    fill: #E5E1FC;
                    opacity: .8;
                    animation: wave 3s ease-in-out infinite;
                }
            }
            
            .projects-ribbon-container{
                transform: translateX(650px) translateY(-20px) rotate(50deg);
                .projects-ribbon{
                    fill: $purpleColor;
                    animation: wave 3s ease-in-out infinite;
                }
            }
        }

        &:hover{
            h3{
                padding-left: 6vw;
                &:before{
                    content: '>';
                }
                &:after{
                    content: '<';
                }
            }
            .projects-svg{
                .projects-line-path{
                    animation: circle-set .2s ease-in-out 1;
                    stroke-dashoffset: 0;
                }
                .projects-circle{
                    animation: circle-set .2s linear 1;
                    animation-fill-mode: forwards;
                }
                .projects-rect-container .projects-rect {
                    animation: circle-set .2s linear 1;
                    animation-fill-mode: forwards;
                }
                .projects-ribbon-container .projects-ribbon {
                    animation: circle-set .2s linear 1;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    .button-about{
        grid-area: about;
        background: $orangeColor;
        height: 30vh;
        h3{ padding-left: 5vw; }
        .about-svg{
            position: absolute;
            .about-circle{
                fill: $blueColor;
            }
            .about-line-container{
                transform: translateX(220px) translateY(-20px);
            }
            .about-rect-container {
                transform: translateX(550px) translateY(200px) rotate(-30deg);
                .about-rect{

                    fill: #E5E1FC;
                    opacity: .8;
                }
            }
            .about-ribbon-container {
                transform: translateX(400px) translateY(130px) rotate(-50deg);
                .about-ribbon {
                    fill: $purpleColor;
                }
            }
        }
    }
    .button-skills{
        grid-area:skills;
        height: 40vh;
        background: $baseFontColor;
        width: 22.5vw;
        overflow: hidden;
        display: grid;
        h3{margin-top: .25em}
        .skills-svg{
            position: absolute;
            .skills-line-container{
                transform: translateX(-5vw) translateY(15vh) scale(1.3);
            }
            .skills-rect-container {
                transform: translateX(20px) translateY(5px) rotate(-30deg);
                .skills-rect {

                    fill: $purpleColor;
                }
            }
            .skills-ribbon-container {
                transform: translateX(20px) translateY(130px) rotate(-50deg);
                .skills-ribbon {
                    fill: #E5E1FC;
                    opacity: .8;
                }
            }         
        }
    }
    .button-contact{
        grid-area:contact;
        height: 40vh;
        background: $purpleColor;
        width: 22.5vw;
        h3{margin-top: .25em}
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes wave {
    0% {
        transform: translateY(0vh);
    }
    50%{
        transform: translateY(1vh);
    }
    100% {
        transform: translateY(0vh);
    }
}

@keyframes circle-set{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(2vh);
    }
}
