$backgroundColor: #fff;
$baseFontColor: #080222;
$baseFont: 'Lato',
sans-serif;
$titleFont: 'Anton',
sans-serif;
$blueColor: #3540FA;
$orangeColor: #FF7826;
$purpleColor: #797EDA;

section-content {
    height: auto;
    overflow: hidden;
    max-height: 100vh;
}

.header-title {
    a {
        h2 {
            color: $backgroundColor !important;
        }
    }
}

.projects-content-pic {
    width: 45vw;
    padding-left: 0;
    padding-right: 0;
    float: right;
    z-index: 5;
}

.profile-pic {
    object-fit: contain;
    object-position: center;
}

.projects-svg-line{
    position: absolute;
    z-index: 0;
    .projects-line-container{
        transform: translateX(15vw) translateY(-3vh);
    }
}

.projects-svg {
    position: absolute;
    z-index: 0;

    .projects-circle {
        fill: $blueColor;
    }

    .projects-rect-container {
        transform: translateX(40vw) translateY(50vh) rotate(-30deg);

        .projects-rect {
            fill: #E5E1FC;
        }
    }

    .projects-ribbon-container {
        transform: translateX(20vw) translateY(35vh) rotate(50deg);

        .projects-ribbon {
            fill: $purpleColor;
        }
    }
}

.remove-arrows{
    display: none;
}

.home-menu-section{
    display: grid;
    grid-template-areas: 'lot lot'
    'vri nftfoh'
    'eps wander'
    'bdinc xcited';
    .home-lot{
        grid-area: lot;
        a{
            img{
                width: 100%;
                height: 25vh;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .home-vri{
        grid-area: vri;
        a{

            img{
                width: 100%;
                height: 25vh;
                object-fit: cover;
                object-position: top;
            }
        }
    }
    .home-nftfoh{
        grid-area: nftfoh;
        a{

            img{
                width: 100%;
                height: 25vh;
                object-fit: cover;
                object-position: top;
            }
        }
    }
    .home-eps {
        grid-area: eps;
        a {
            img {
                width: 100%;
                height: 25vh;
                object-fit: cover;
                object-position: top;
            }
        }
    }
    .home-wander {
        grid-area: wander;
        a {
            img {
                width: 100%;
                height: 25vh;
                object-fit: cover;
                object-position: top;
            }
        }
    }
    .home-bdinc {
        grid-area: bdinc;
        a {
            img {
                width: 100%;
                height: 25vh;
                object-fit: cover;
                object-position: top;
            }
        }
    }
    .home-xcited {
        grid-area: xcited;
        a {
            img {
                width: 100%;
                height: 25vh;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}