section-content {
  height: auto;
  overflow: hidden;
  max-height: 100vh;
}

.header-title a h2 {
  color: #fff !important;
}

.projects-content-pic {
  width: 45vw;
  padding-left: 0;
  padding-right: 0;
  float: right;
  z-index: 5;
}

.profile-pic {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.projects-svg-line {
  position: absolute;
  z-index: 0;
}

.projects-svg-line .projects-line-container {
  -webkit-transform: translateX(15vw) translateY(-3vh);
          transform: translateX(15vw) translateY(-3vh);
}

.projects-svg {
  position: absolute;
  z-index: 0;
}

.projects-svg .projects-circle {
  fill: #3540FA;
}

.projects-svg .projects-rect-container {
  -webkit-transform: translateX(40vw) translateY(50vh) rotate(-30deg);
          transform: translateX(40vw) translateY(50vh) rotate(-30deg);
}

.projects-svg .projects-rect-container .projects-rect {
  fill: #E5E1FC;
}

.projects-svg .projects-ribbon-container {
  -webkit-transform: translateX(20vw) translateY(35vh) rotate(50deg);
          transform: translateX(20vw) translateY(35vh) rotate(50deg);
}

.projects-svg .projects-ribbon-container .projects-ribbon {
  fill: #797EDA;
}

.remove-arrows {
  display: none;
}

.home-menu-section {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'lot lot' 'vri nftfoh' 'eps wander' 'bdinc xcited';
}

.home-menu-section .home-lot {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: lot;
}

.home-menu-section .home-lot a img {
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.home-menu-section .home-vri {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: vri;
}

.home-menu-section .home-vri a img {
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.home-menu-section .home-nftfoh {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: nftfoh;
}

.home-menu-section .home-nftfoh a img {
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.home-menu-section .home-eps {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: eps;
}

.home-menu-section .home-eps a img {
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.home-menu-section .home-wander {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: wander;
}

.home-menu-section .home-wander a img {
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.home-menu-section .home-bdinc {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: bdinc;
}

.home-menu-section .home-bdinc a img {
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.home-menu-section .home-xcited {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: xcited;
}

.home-menu-section .home-xcited a img {
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
/*# sourceMappingURL=projects.css.map */