section-content {
  height: auto;
  overflow: hidden;
  max-height: 100vh;
}

section-content-left {
  z-index: 5;
  height: 100%;
}
section-content-left a {
  text-decoration: none !important;
}
section-content-left div {
  height: auto;
  align-items: flex-end;
}
section-content-left div .project-content-par {
  padding-bottom: 1em;
}

.header-title a h1, .header-title a h2, .header-title a h4 {
  color: #fff !important;
}

.projects-content-pic {
  width: 45vw;
  padding-left: 0;
  padding-right: 0;
  float: right;
  z-index: 5;
}

.profile-pic {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.projects-svg-line {
  position: absolute;
  z-index: 0;
}
.projects-svg-line .projects-line-container {
  transform: translateX(15vw) translateY(-3vh);
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: dash 10s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.projects-svg {
  position: absolute;
  z-index: 0;
}
.projects-svg .projects-circle {
  fill: #3540FA;
}
.projects-svg .projects-rect-container {
  transform: translateX(40vw) translateY(50vh) rotate(-30deg);
}
.projects-svg .projects-rect-container .projects-rect {
  fill: #E5E1FC;
}
.projects-svg .projects-ribbon-container {
  transform: translateX(20vw) translateY(35vh) rotate(50deg);
}
.projects-svg .projects-ribbon-container .projects-ribbon {
  fill: #797EDA;
}

.remove-arrows {
  display: none;
}

.home-menu-section {
  display: grid;
  grid-template-areas: "lot crypto" "meme citti" "vri nftfoh" "eps wander" "bdinc xcited";
}
.home-menu-section .home-button a img {
  width: 100%;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-menu-section .home-lot {
  grid-area: lot;
}
.home-menu-section .home-lot a img {
  -o-object-position: center;
     object-position: center;
}
.home-menu-section .home-crypto {
  grid-area: crypto;
}
.home-menu-section .home-crypto a img {
  -o-object-position: center;
     object-position: center;
}
.home-menu-section .home-citti {
  grid-area: citti;
}
.home-menu-section .home-citti a img {
  -o-object-position: center;
     object-position: center;
}
.home-menu-section .home-meme {
  grid-area: meme;
}
.home-menu-section .home-meme a img {
  -o-object-position: center;
     object-position: center;
}
.home-menu-section .home-vri {
  grid-area: vri;
}
.home-menu-section .home-vri a img {
  -o-object-position: top;
     object-position: top;
}
.home-menu-section .home-nftfoh {
  grid-area: nftfoh;
}
.home-menu-section .home-nftfoh a img {
  -o-object-position: top;
     object-position: top;
}
.home-menu-section .home-eps {
  grid-area: eps;
}
.home-menu-section .home-eps a img {
  -o-object-position: top;
     object-position: top;
}
.home-menu-section .home-wander {
  grid-area: wander;
}
.home-menu-section .home-wander a img {
  -o-object-position: top;
     object-position: top;
}
.home-menu-section .home-bdinc {
  grid-area: bdinc;
}
.home-menu-section .home-bdinc a img {
  -o-object-position: top;
     object-position: top;
}
.home-menu-section .home-xcited {
  grid-area: xcited;
}
.home-menu-section .home-xcited a img {
  -o-object-position: top;
     object-position: top;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 5000;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 5000;
  }
}
@media only screen and (max-width: 1201px) {
  section-content-right {
    display: none;
  }
  .the-wanderer p {
    font-size: 1.1em;
  }
  li section-content svg {
    width: 100vw !important;
    height: 100vh !important;
  }
}/*# sourceMappingURL=projects.css.map */