
$backgroundColor: #080222;
$baseFontColor: #f1f1f1;
$baseFont: 'Outfit', sans-serif;

body{
    color: $baseFontColor;
    font-family: $baseFont;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

section{
    background-color: $backgroundColor;
}

.full-section{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.background-white{
    background-color: white;
    color: black;
}

section-content{
    min-width: 80vw;
    min-height: 80vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.full-height{
    min-height: 80vh;
    height: 100%;
}

.full-width{
    min-width: 80vw;
    width: 100%;
}

.flex {
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.absolute-right{
    position: absolute;
    right: 10vw;
}

.text-left{
    text-align: left;
}

.content-center{
    align-items: center;
    justify-self: center;
}

.content-bottom {
    align-items:flex-end;
    justify-content:baseline;
}

.huge-title{
    font-size: 7em;
}